@font-face {
  font-family: "Font-Light";
  src: url(./Nunito-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Font-Regular";
  src: url(./Nunito-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Font-Medium";
  src: url(./Nunito-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Font-SemiBold";
  src: url(./Nunito-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Font-Bold";
  src: url(./Nunito-Bold.ttf);
  font-display: swap;
}
