:root {
  --ui-grid-gap: 5px;
  --input-border-radius: 10px;
  --input-border: 1px solid #717a7a;
  --input-margin: 5px 0;
  --input-padding: 7px 10px;
  --input-height: 35px;
  --input-icon-color: var(--icon-bg);
  --input-radio-corner: 5px;
  --input-font-size: 15px;
  --input-bg: var(--main-bg);
  --input-indicator-color: #87a3a3;
  --input-bg-active: #87a3a3;
  --input-color: #333333;
  --input-icon-size: 16px;
  --input-transition: 0.2s;
  --option-wrapper-padding: 2px;
  --option-border-radius: calc(var(--input-border-radius) - 2px);
  --option-padding: 7px 10px;
  --option-selected-bg: #b8d9d3;
}
