@import url(./assets/fonts/fonts.css);

:root {
  /* Main */
  --main-bg: #f7f7f7;

  /* common */
  --element-color: #7487eb;
  --element-color-hover: #3a53cf;
  --element-background: white;
  --element-background-dark: rgb(231, 231, 231);
  --element-background-hover: #ededef;
  --content-background: var(--main-bg);

  /* fonts */
  --font-light: "Nunito-Light";
  --font-regular: "Nunito-Regular";
  --font-medium: "Nunito-Medium";
  --font-semiBold: "Nunito-SemiBold";
  --font-bold: "Nunito-Bold";

  /* title */
  --h3-size: 23px;
  --title-color: rgb(56, 56, 56);
  --title-color-dark: #262626;
  --title-font: "Nunito-Medium";

  /* link */
  --link-color: var(--element-color);
  --link-color-hover: var(--element-color-hover);

  /* text */
  --text-size: 16px;
  --text-color: rgb(79, 79, 79);
  --text-color-light: #a8aabc;
  --text-color-dark: #5b5b5e;
  --text-font: "Nunito-Regular";

  /* span */
  --span-font: "Nunito-Light";

  /* icon */
  --icon-color: #87878a;
  --icon-color-dark: #404040;
  --icon-hover-bg: white;

  /* button */
  --button-bg: #87a3a3;
  --button-hover-bg: #717a7a;

  /* border */
  --border-style: 1px solid var(--border-color);
  --border-color: rgb(212, 212, 212);
  --border-color-light: rgb(213, 213, 213);
  --border-color-dark: #bcbcbc;
  --border-color-black: #929292;
  --border-width: 2px;

  /* background */
  --card-hover-bg: #c5c5c545;

  /* input */
  --option-background: rgb(227, 239, 255);
  --input-focus-color: #3a53cf;
  --input-color: var(--text-color);
  --input-color-active: rgb(31, 31, 31);
  --input-background: var(--element-background);

  /* placeholder */
  --placeholder-color: #a8aabc;
}
