@import url(./assets/fonts/fonts.css);

:root {
  /* Main */
  --main-bg: #f7f7f7;
  --navigation-height: 65px;
  --red-color: rgba(244, 79, 79, 0.868);
  --green-color: rgba(70, 219, 85, 0.879);
  --orange-color: rgba(242, 141, 79, 0.867);

  /* common */
  --element-color: #7487eb;
  --element-color-light: #9facf1;
  --element-color-hover: #3a53cf;
  --element-background: white;
  --element-background-dark: rgb(215, 222, 225);
  --element-background-hover: rgb(232, 237, 239);
  --content-background: var(--main-bg);

  /* fonts */
  --font-light: "Font-Light";
  --font-regular: "Font-Regular";
  --font-medium: "Font-Medium";
  --font-semiBold: "Font-SemiBold";
  --font-bold: "Font-Bold";

  /* title */
  --h3-size: 23px;
  --title-color: rgb(56, 56, 56);
  --title-color-dark: #262626;
  --title-font: "Nunito-Medium";

  /* link */
  --link-color: var(--element-color);
  --link-color-hover: var(--element-color-hover);

  /* text */
  --text-size: 16px;
  --text-color: rgb(79, 79, 79);
  --text-color-light: #a8aabc;
  --text-color-dark: #5b5b5e;
  --text-font: "Nunito-Regular";

  /* span */
  --span-font: "Nunito-Light";

  /* icon */
  --icon-color: #87878a;
  --icon-color-dark: #404040;
  --icon-hover-bg: white;

  /* button */
  --button-bg: #87a3a3;
  --button-hover-bg: #717a7a;

  /* border */
  --border-style: 1px solid var(--border-color);
  --border-color: rgb(212, 212, 212);
  --border-color-light: rgb(225, 225, 225);
  --border-color-dark: #bcbcbc;
  --border-color-black: #7d7d7d;
  --border-width: 2px;

  /* background */
  --card-hover-bg: #c5c5c545;

  /* input */
  --option-background: rgb(227, 239, 255);
  --input-focus-color: #3a53cf;
  --input-color: var(--text-color);
  --input-color-active: rgb(31, 31, 31);
  --input-background: var(--element-background);

  /* placeholder */
  --placeholder-color: #a8aabc;

  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
